@-webkit-keyframes fall-y {
  0% {
    top: -10px;
  }
  100% {
    top: 100vh;
  }
}

@keyframes fall-y {
  0% {
    top: -10px;
  }
  100% {
    top: 100vh;
  }
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left {
  width: 10%;
  height: 100%;
  background-color: aqua;
}

#fall-box {
  width: 90%;
  height: 100%;
  background-color: cadetblue;
  position: relative;
}

#item, #item #item {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  position: absolute;
  -webkit-animation: fall-y 5s infinite;
          animation: fall-y 5s infinite;
}

#item #item:nth-of-type(1) {
  left: 80.14207vw;
  -webkit-animation: fall-y 6.35655s linear 1.70589s infinite normal;
          animation: fall-y 6.35655s linear 1.70589s infinite normal;
}

#item #item:nth-of-type(2) {
  left: 29.99801vw;
  -webkit-animation: fall-y 7.99852s linear 2.96241s infinite normal;
          animation: fall-y 7.99852s linear 2.96241s infinite normal;
}

#item #item:nth-of-type(3) {
  left: 88.12439vw;
  -webkit-animation: fall-y 6.19241s linear 1.09299s infinite normal;
          animation: fall-y 6.19241s linear 1.09299s infinite normal;
}

#item #item:nth-of-type(4) {
  left: 69.77451vw;
  -webkit-animation: fall-y 7.34479s linear 2.45565s infinite normal;
          animation: fall-y 7.34479s linear 2.45565s infinite normal;
}

#item #item:nth-of-type(5) {
  left: 99.59961vw;
  -webkit-animation: fall-y 6.61465s linear 2.88909s infinite normal;
          animation: fall-y 6.61465s linear 2.88909s infinite normal;
}

#item #item:nth-of-type(6) {
  left: 80.73098vw;
  -webkit-animation: fall-y 7.28216s linear 1.1271s infinite normal;
          animation: fall-y 7.28216s linear 1.1271s infinite normal;
}

#item #item:nth-of-type(7) {
  left: 61.19474vw;
  -webkit-animation: fall-y 7.5412s linear 1.87455s infinite normal;
          animation: fall-y 7.5412s linear 1.87455s infinite normal;
}

#item #item:nth-of-type(8) {
  left: 4.37877vw;
  -webkit-animation: fall-y 7.89053s linear 2.32866s infinite normal;
          animation: fall-y 7.89053s linear 2.32866s infinite normal;
}

#item #item:nth-of-type(9) {
  left: 13.70291vw;
  -webkit-animation: fall-y 4.59734s linear 4.20509s infinite normal;
          animation: fall-y 4.59734s linear 4.20509s infinite normal;
}

#item #item:nth-of-type(10) {
  left: 40.77024vw;
  -webkit-animation: fall-y 4.94047s linear 1.01261s infinite normal;
          animation: fall-y 4.94047s linear 1.01261s infinite normal;
}

#item #item:nth-of-type(11) {
  left: 74.26301vw;
  -webkit-animation: fall-y 6.9372s linear 1.89106s infinite normal;
          animation: fall-y 6.9372s linear 1.89106s infinite normal;
}

#item #item:nth-of-type(12) {
  left: 51.0989vw;
  -webkit-animation: fall-y 6.08636s linear 1.23797s infinite normal;
          animation: fall-y 6.08636s linear 1.23797s infinite normal;
}

#item #item:nth-of-type(13) {
  left: 69.97523vw;
  -webkit-animation: fall-y 7.95894s linear 2.03033s infinite normal;
          animation: fall-y 7.95894s linear 2.03033s infinite normal;
}

#item #item:nth-of-type(14) {
  left: 53.75883vw;
  -webkit-animation: fall-y 6.6694s linear 1.70303s infinite normal;
          animation: fall-y 6.6694s linear 1.70303s infinite normal;
}

#item #item:nth-of-type(15) {
  left: 27.10635vw;
  -webkit-animation: fall-y 4.13046s linear 4.08207s infinite normal;
          animation: fall-y 4.13046s linear 4.08207s infinite normal;
}

#item #item:nth-of-type(16) {
  left: 45.75277vw;
  -webkit-animation: fall-y 5.97738s linear 2.71621s infinite normal;
          animation: fall-y 5.97738s linear 2.71621s infinite normal;
}

#item #item:nth-of-type(17) {
  left: 90.37597vw;
  -webkit-animation: fall-y 4.24715s linear 4.12389s infinite normal;
          animation: fall-y 4.24715s linear 4.12389s infinite normal;
}

#item #item:nth-of-type(18) {
  left: 87.41852vw;
  -webkit-animation: fall-y 6.17561s linear 4.47573s infinite normal;
          animation: fall-y 6.17561s linear 4.47573s infinite normal;
}

#item #item:nth-of-type(19) {
  left: 96.82391vw;
  -webkit-animation: fall-y 5.46801s linear 2.20342s infinite normal;
          animation: fall-y 5.46801s linear 2.20342s infinite normal;
}

#item #item:nth-of-type(20) {
  left: 97.08369vw;
  -webkit-animation: fall-y 7.58326s linear 3.06897s infinite normal;
          animation: fall-y 7.58326s linear 3.06897s infinite normal;
}

#item #item:nth-of-type(21) {
  left: 59.28082vw;
  -webkit-animation: fall-y 5.28061s linear 4.38085s infinite normal;
          animation: fall-y 5.28061s linear 4.38085s infinite normal;
}

#item #item:nth-of-type(22) {
  left: 64.51334vw;
  -webkit-animation: fall-y 4.19175s linear 1.79696s infinite normal;
          animation: fall-y 4.19175s linear 1.79696s infinite normal;
}

#item #item:nth-of-type(23) {
  left: 55.30958vw;
  -webkit-animation: fall-y 6.18435s linear 1.14902s infinite normal;
          animation: fall-y 6.18435s linear 1.14902s infinite normal;
}

#item #item:nth-of-type(24) {
  left: 92.52725vw;
  -webkit-animation: fall-y 7.29595s linear 3.66291s infinite normal;
          animation: fall-y 7.29595s linear 3.66291s infinite normal;
}

#item #item:nth-of-type(25) {
  left: 44.4369vw;
  -webkit-animation: fall-y 7.18928s linear 1.54108s infinite normal;
          animation: fall-y 7.18928s linear 1.54108s infinite normal;
}

#item #item:nth-of-type(26) {
  left: 70.9641vw;
  -webkit-animation: fall-y 6.34583s linear 4.84333s infinite normal;
          animation: fall-y 6.34583s linear 4.84333s infinite normal;
}

#item #item:nth-of-type(27) {
  left: 36.36008vw;
  -webkit-animation: fall-y 5.34623s linear 1.8944s infinite normal;
          animation: fall-y 5.34623s linear 1.8944s infinite normal;
}

#item #item:nth-of-type(28) {
  left: 47.36312vw;
  -webkit-animation: fall-y 4.64475s linear 4.89136s infinite normal;
          animation: fall-y 4.64475s linear 4.89136s infinite normal;
}

#item #item:nth-of-type(29) {
  left: 93.53566vw;
  -webkit-animation: fall-y 4.77741s linear 1.50415s infinite normal;
          animation: fall-y 4.77741s linear 1.50415s infinite normal;
}

#item #item:nth-of-type(30) {
  left: 57.45762vw;
  -webkit-animation: fall-y 7.47107s linear 1.7466s infinite normal;
          animation: fall-y 7.47107s linear 1.7466s infinite normal;
}

#item #item:nth-of-type(31) {
  left: 0.13454vw;
  -webkit-animation: fall-y 7.42456s linear 4.18125s infinite normal;
          animation: fall-y 7.42456s linear 4.18125s infinite normal;
}

#item #item:nth-of-type(32) {
  left: 62.32453vw;
  -webkit-animation: fall-y 4.602s linear 2.0767s infinite normal;
          animation: fall-y 4.602s linear 2.0767s infinite normal;
}

#item #item:nth-of-type(33) {
  left: 92.551vw;
  -webkit-animation: fall-y 6.01925s linear 4.92442s infinite normal;
          animation: fall-y 6.01925s linear 4.92442s infinite normal;
}

#item #item:nth-of-type(34) {
  left: 83.10564vw;
  -webkit-animation: fall-y 7.2226s linear 2.029s infinite normal;
          animation: fall-y 7.2226s linear 2.029s infinite normal;
}

#item #item:nth-of-type(35) {
  left: 90.99985vw;
  -webkit-animation: fall-y 5.39228s linear 1.02742s infinite normal;
          animation: fall-y 5.39228s linear 1.02742s infinite normal;
}

#item #item:nth-of-type(36) {
  left: 17.57255vw;
  -webkit-animation: fall-y 5.83602s linear 2.95089s infinite normal;
          animation: fall-y 5.83602s linear 2.95089s infinite normal;
}

#item #item:nth-of-type(37) {
  left: 12.01261vw;
  -webkit-animation: fall-y 4.28453s linear 3.3885s infinite normal;
          animation: fall-y 4.28453s linear 3.3885s infinite normal;
}

#item #item:nth-of-type(38) {
  left: 38.46429vw;
  -webkit-animation: fall-y 7.43724s linear 3.4625s infinite normal;
          animation: fall-y 7.43724s linear 3.4625s infinite normal;
}

#item #item:nth-of-type(39) {
  left: 64.04253vw;
  -webkit-animation: fall-y 4.80741s linear 2.96708s infinite normal;
          animation: fall-y 4.80741s linear 2.96708s infinite normal;
}

#item #item:nth-of-type(40) {
  left: 0.23265vw;
  -webkit-animation: fall-y 7.72403s linear 4.26827s infinite normal;
          animation: fall-y 7.72403s linear 4.26827s infinite normal;
}

#item #item:nth-of-type(41) {
  left: 12.60146vw;
  -webkit-animation: fall-y 6.22274s linear 4.80818s infinite normal;
          animation: fall-y 6.22274s linear 4.80818s infinite normal;
}

#item #item:nth-of-type(42) {
  left: 51.64869vw;
  -webkit-animation: fall-y 5.14596s linear 1.71883s infinite normal;
          animation: fall-y 5.14596s linear 1.71883s infinite normal;
}

#item #item:nth-of-type(43) {
  left: 62.21971vw;
  -webkit-animation: fall-y 7.39614s linear 2.84939s infinite normal;
          animation: fall-y 7.39614s linear 2.84939s infinite normal;
}

#item #item:nth-of-type(44) {
  left: 29.69376vw;
  -webkit-animation: fall-y 5.06519s linear 2.63185s infinite normal;
          animation: fall-y 5.06519s linear 2.63185s infinite normal;
}

#item #item:nth-of-type(45) {
  left: 75.82285vw;
  -webkit-animation: fall-y 6.46724s linear 2.9899s infinite normal;
          animation: fall-y 6.46724s linear 2.9899s infinite normal;
}

#item #item:nth-of-type(46) {
  left: 53.57726vw;
  -webkit-animation: fall-y 4.30784s linear 3.99917s infinite normal;
          animation: fall-y 4.30784s linear 3.99917s infinite normal;
}

#item #item:nth-of-type(47) {
  left: 62.05444vw;
  -webkit-animation: fall-y 6.35769s linear 1.5891s infinite normal;
          animation: fall-y 6.35769s linear 1.5891s infinite normal;
}

#item #item:nth-of-type(48) {
  left: 29.29782vw;
  -webkit-animation: fall-y 4.31712s linear 1.97872s infinite normal;
          animation: fall-y 4.31712s linear 1.97872s infinite normal;
}

#item #item:nth-of-type(49) {
  left: 2.4713vw;
  -webkit-animation: fall-y 7.93953s linear 4.09899s infinite normal;
          animation: fall-y 7.93953s linear 4.09899s infinite normal;
}

#item #item:nth-of-type(50) {
  left: 96.69005vw;
  -webkit-animation: fall-y 7.65957s linear 2.4391s infinite normal;
          animation: fall-y 7.65957s linear 2.4391s infinite normal;
}

#item #item:nth-of-type(51) {
  left: 71.7263vw;
  -webkit-animation: fall-y 4.36261s linear 1.25252s infinite normal;
          animation: fall-y 4.36261s linear 1.25252s infinite normal;
}

#item #item:nth-of-type(52) {
  left: 35.22115vw;
  -webkit-animation: fall-y 5.7282s linear 2.45153s infinite normal;
          animation: fall-y 5.7282s linear 2.45153s infinite normal;
}

#item #item:nth-of-type(53) {
  left: 68.91631vw;
  -webkit-animation: fall-y 4.7269s linear 2.37566s infinite normal;
          animation: fall-y 4.7269s linear 2.37566s infinite normal;
}

#item #item:nth-of-type(54) {
  left: 87.58708vw;
  -webkit-animation: fall-y 6.04444s linear 2.11085s infinite normal;
          animation: fall-y 6.04444s linear 2.11085s infinite normal;
}

#item #item:nth-of-type(55) {
  left: 46.9699vw;
  -webkit-animation: fall-y 4.9751s linear 1.79305s infinite normal;
          animation: fall-y 4.9751s linear 1.79305s infinite normal;
}

#item #item:nth-of-type(56) {
  left: 78.18949vw;
  -webkit-animation: fall-y 5.27368s linear 1.93583s infinite normal;
          animation: fall-y 5.27368s linear 1.93583s infinite normal;
}

#item #item:nth-of-type(57) {
  left: 66.88554vw;
  -webkit-animation: fall-y 6.07874s linear 1.38451s infinite normal;
          animation: fall-y 6.07874s linear 1.38451s infinite normal;
}

#item #item:nth-of-type(58) {
  left: 79.64328vw;
  -webkit-animation: fall-y 6.04915s linear 1.59632s infinite normal;
          animation: fall-y 6.04915s linear 1.59632s infinite normal;
}

#item #item:nth-of-type(59) {
  left: 81.71575vw;
  -webkit-animation: fall-y 4.77571s linear 2.82457s infinite normal;
          animation: fall-y 4.77571s linear 2.82457s infinite normal;
}

#item #item:nth-of-type(60) {
  left: 10.52374vw;
  -webkit-animation: fall-y 5.63354s linear 4.00149s infinite normal;
          animation: fall-y 5.63354s linear 4.00149s infinite normal;
}

#item #item:nth-of-type(61) {
  left: 9.58819vw;
  -webkit-animation: fall-y 5.62483s linear 1.69647s infinite normal;
          animation: fall-y 5.62483s linear 1.69647s infinite normal;
}

#item #item:nth-of-type(62) {
  left: 37.29891vw;
  -webkit-animation: fall-y 6.78624s linear 3.79379s infinite normal;
          animation: fall-y 6.78624s linear 3.79379s infinite normal;
}

#item #item:nth-of-type(63) {
  left: 72.74359vw;
  -webkit-animation: fall-y 7.79766s linear 2.18714s infinite normal;
          animation: fall-y 7.79766s linear 2.18714s infinite normal;
}

#item #item:nth-of-type(64) {
  left: 66.70407vw;
  -webkit-animation: fall-y 6.20702s linear 2.06152s infinite normal;
          animation: fall-y 6.20702s linear 2.06152s infinite normal;
}

#item #item:nth-of-type(65) {
  left: 43.05767vw;
  -webkit-animation: fall-y 4.99577s linear 2.94198s infinite normal;
          animation: fall-y 4.99577s linear 2.94198s infinite normal;
}

#item #item:nth-of-type(66) {
  left: 34.20709vw;
  -webkit-animation: fall-y 6.06041s linear 2.59733s infinite normal;
          animation: fall-y 6.06041s linear 2.59733s infinite normal;
}

#item #item:nth-of-type(67) {
  left: 70.01861vw;
  -webkit-animation: fall-y 4.56402s linear 3.58097s infinite normal;
          animation: fall-y 4.56402s linear 3.58097s infinite normal;
}

#item #item:nth-of-type(68) {
  left: 77.6335vw;
  -webkit-animation: fall-y 6.48808s linear 3.56951s infinite normal;
          animation: fall-y 6.48808s linear 3.56951s infinite normal;
}

#item #item:nth-of-type(69) {
  left: 42.81238vw;
  -webkit-animation: fall-y 4.69099s linear 2.35121s infinite normal;
          animation: fall-y 4.69099s linear 2.35121s infinite normal;
}

#item #item:nth-of-type(70) {
  left: 90.93137vw;
  -webkit-animation: fall-y 7.28739s linear 1.68772s infinite normal;
          animation: fall-y 7.28739s linear 1.68772s infinite normal;
}

#item #item:nth-of-type(71) {
  left: 69.16577vw;
  -webkit-animation: fall-y 7.56846s linear 3.10548s infinite normal;
          animation: fall-y 7.56846s linear 3.10548s infinite normal;
}

#item #item:nth-of-type(72) {
  left: 34.84816vw;
  -webkit-animation: fall-y 7.08749s linear 2.34058s infinite normal;
          animation: fall-y 7.08749s linear 2.34058s infinite normal;
}

#item #item:nth-of-type(73) {
  left: 70.52763vw;
  -webkit-animation: fall-y 4.91491s linear 4.36961s infinite normal;
          animation: fall-y 4.91491s linear 4.36961s infinite normal;
}

#item #item:nth-of-type(74) {
  left: 30.19798vw;
  -webkit-animation: fall-y 5.77336s linear 3.11123s infinite normal;
          animation: fall-y 5.77336s linear 3.11123s infinite normal;
}

#item #item:nth-of-type(75) {
  left: 81.77488vw;
  -webkit-animation: fall-y 7.78034s linear 3.40984s infinite normal;
          animation: fall-y 7.78034s linear 3.40984s infinite normal;
}

#item #item:nth-of-type(76) {
  left: 35.80371vw;
  -webkit-animation: fall-y 5.8437s linear 3.08006s infinite normal;
          animation: fall-y 5.8437s linear 3.08006s infinite normal;
}

#item #item:nth-of-type(77) {
  left: 30.69715vw;
  -webkit-animation: fall-y 7.78073s linear 3.29565s infinite normal;
          animation: fall-y 7.78073s linear 3.29565s infinite normal;
}

#item #item:nth-of-type(78) {
  left: 88.62287vw;
  -webkit-animation: fall-y 4.62238s linear 2.20437s infinite normal;
          animation: fall-y 4.62238s linear 2.20437s infinite normal;
}

#item #item:nth-of-type(79) {
  left: 82.90231vw;
  -webkit-animation: fall-y 4.87666s linear 3.4847s infinite normal;
          animation: fall-y 4.87666s linear 3.4847s infinite normal;
}

#item #item:nth-of-type(80) {
  left: 86.62964vw;
  -webkit-animation: fall-y 5.41474s linear 1.28517s infinite normal;
          animation: fall-y 5.41474s linear 1.28517s infinite normal;
}

#item #item:nth-of-type(81) {
  left: 34.46081vw;
  -webkit-animation: fall-y 5.09907s linear 3.96197s infinite normal;
          animation: fall-y 5.09907s linear 3.96197s infinite normal;
}

#item #item:nth-of-type(82) {
  left: 11.66368vw;
  -webkit-animation: fall-y 7.05677s linear 1.8216s infinite normal;
          animation: fall-y 7.05677s linear 1.8216s infinite normal;
}

#item #item:nth-of-type(83) {
  left: 35.55877vw;
  -webkit-animation: fall-y 7.47501s linear 1.94803s infinite normal;
          animation: fall-y 7.47501s linear 1.94803s infinite normal;
}

#item #item:nth-of-type(84) {
  left: 70.32922vw;
  -webkit-animation: fall-y 4.51925s linear 4.89827s infinite normal;
          animation: fall-y 4.51925s linear 4.89827s infinite normal;
}

#item #item:nth-of-type(85) {
  left: 20.08968vw;
  -webkit-animation: fall-y 6.80144s linear 3.83746s infinite normal;
          animation: fall-y 6.80144s linear 3.83746s infinite normal;
}

#item #item:nth-of-type(86) {
  left: 65.86952vw;
  -webkit-animation: fall-y 5.71745s linear 2.47303s infinite normal;
          animation: fall-y 5.71745s linear 2.47303s infinite normal;
}

#item #item:nth-of-type(87) {
  left: 89.31552vw;
  -webkit-animation: fall-y 6.02862s linear 1.06281s infinite normal;
          animation: fall-y 6.02862s linear 1.06281s infinite normal;
}

#item #item:nth-of-type(88) {
  left: 79.20474vw;
  -webkit-animation: fall-y 5.71275s linear 1.81059s infinite normal;
          animation: fall-y 5.71275s linear 1.81059s infinite normal;
}

#item #item:nth-of-type(89) {
  left: 31.86586vw;
  -webkit-animation: fall-y 6.91982s linear 2.87367s infinite normal;
          animation: fall-y 6.91982s linear 2.87367s infinite normal;
}

#item #item:nth-of-type(90) {
  left: 83.91115vw;
  -webkit-animation: fall-y 5.55733s linear 3.32701s infinite normal;
          animation: fall-y 5.55733s linear 3.32701s infinite normal;
}

#item #item:nth-of-type(91) {
  left: 30.99813vw;
  -webkit-animation: fall-y 6.19651s linear 1.82887s infinite normal;
          animation: fall-y 6.19651s linear 1.82887s infinite normal;
}

#item #item:nth-of-type(92) {
  left: 47.89391vw;
  -webkit-animation: fall-y 7.10301s linear 2.61153s infinite normal;
          animation: fall-y 7.10301s linear 2.61153s infinite normal;
}

#item #item:nth-of-type(93) {
  left: 69.36352vw;
  -webkit-animation: fall-y 4.19755s linear 3.37983s infinite normal;
          animation: fall-y 4.19755s linear 3.37983s infinite normal;
}

#item #item:nth-of-type(94) {
  left: 59.40135vw;
  -webkit-animation: fall-y 6.17331s linear 2.03557s infinite normal;
          animation: fall-y 6.17331s linear 2.03557s infinite normal;
}

#item #item:nth-of-type(95) {
  left: 44.97356vw;
  -webkit-animation: fall-y 4.04538s linear 3.69243s infinite normal;
          animation: fall-y 4.04538s linear 3.69243s infinite normal;
}

#item #item:nth-of-type(96) {
  left: 3.75587vw;
  -webkit-animation: fall-y 4.22439s linear 4.87906s infinite normal;
          animation: fall-y 4.22439s linear 4.87906s infinite normal;
}

#item #item:nth-of-type(97) {
  left: 74.22708vw;
  -webkit-animation: fall-y 7.48246s linear 3.89722s infinite normal;
          animation: fall-y 7.48246s linear 3.89722s infinite normal;
}

#item #item:nth-of-type(98) {
  left: 96.5162vw;
  -webkit-animation: fall-y 6.19145s linear 1.03393s infinite normal;
          animation: fall-y 6.19145s linear 1.03393s infinite normal;
}

#item #item:nth-of-type(99) {
  left: 31.09755vw;
  -webkit-animation: fall-y 6.49045s linear 3.45668s infinite normal;
          animation: fall-y 6.49045s linear 3.45668s infinite normal;
}

#item #item:nth-of-type(100) {
  left: 88.18927vw;
  -webkit-animation: fall-y 4.97391s linear 2.74818s infinite normal;
          animation: fall-y 4.97391s linear 2.74818s infinite normal;
}
